<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Lista de Pessoas
    </h1>
    <ol class="breadcrumb">
      <li><a href="/AdminPainel"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active"><a href="/AdminPainel/persons">Pessoas</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
     <div class="col-md-12">
      <div class="box box-primary">

        <div class="box-header">
          <a href="/AdminPainel/persons/create" class="btn btn-success">Cadastrar Pessoa</a>
        </div>

        <div class="box-body no-padding">
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th style="width: 200px">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {loop="$persons"}
              <tr>
                <td>{$value.idperson}</td>
                <td>{$value.desperson}</td>           
                <td>{$value.desemail}</td>
                <td>{$value.nrphone}</td>
                <td>Rua Logradouro, 444</td>
                <td>Centro</td>
                <td>Centenário do Sul</td>
                <td>
                  <a href="/AdminPainel/persons/{$value.idperson}" class="btn btn-info btn-xs"><i class="fa fa-info"></i> Detalhes</a>
                 <a href="/AdminPainel/persons/{$value.idperson}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                 <a href="/AdminPainel/persons/{$value.idperson}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>                   
               </td>
             </tr>
             {/loop}
           </tbody>
         </table>
       </div>
       <!-- /.box-body -->
     </div>
   </div>
 </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->