<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Lista de Setores
    </h1>
    <ol class="breadcrumb">
      <li><a href="/AdminPainel"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active"><a href="/AdminPainel/sectors">Setores</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
     <div class="col-md-12">
      <div class="box box-primary">

        <div class="box-header">
          <a href="/AdminPainel/sectors/create" class="btn btn-success">Cadastrar Setor</a>
        </div>

        <div class="box-body no-padding">
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Nome do Setor</th>
                <th>Secretaria</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Responsável</th>
                <th style="width: 140px">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {loop="$sectors"}
              <tr>
                <td>{$value.idsector}</td>
                <td>{$value.desdescrition}</td>
                <td>{$value.dessecretary}</td>
                <td>{$value.nrphone}</td>
                <td>{$value.desemail}</td>
                <td>{$value.idresponsable}</td>
                <td>
                  <a href="/AdminPainel/sectors/{$value.idsector}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                  <a href="/AdminPainel/sectors/{$value.idsector}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                </td>
              </tr>
              {/loop}
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->